In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-06-11 11:00:55,55.7435,-97.8558,47.71,88,81,10.49
1,1,Ilulissat,GL,2021-06-11 11:03:48,69.2167,-51.1000,37.42,75,75,4.61
2,2,Ribeira Grande,PT,2021-06-11 11:03:48,38.5167,-28.7000,68.40,94,75,3.44
3,3,Fairbanks,US,2021-06-11 11:03:48,64.8378,-147.7164,53.24,75,99,1.41
4,4,Pevek,RU,2021-06-11 11:03:48,69.7008,170.3133,30.79,91,83,11.34

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Nikolskoye,RU,2021-06-11 11:03:49,59.7035,30.7861,76.89,42,94,2.62
13,13,Gizo,SB,2021-06-11 11:03:51,-8.1030,156.8419,82.15,79,63,8.55
16,16,Georgetown,MY,2021-06-11 11:03:52,5.4112,100.3354,86.90,72,20,6.91
28,28,Viersen,DE,2021-06-11 11:03:55,51.2500,6.3833,80.26,62,20,6.91
31,31,Gidam,IN,2021-06-11 11:03:56,18.9833,81.4000,78.66,85,100,7.94
36,36,Beni,CD,2021-06-11 11:03:58,0.5000,29.4667,87.80,28,26,3.47
37,37,Sibolga,ID,2021-06-11 11:03:58,1.7427,98.7792,81.18,78,64,1.77
38,38,Bengkulu,ID,2021-06-11 11:03:58,-3.8004,102.2655,80.76,75,98,3.22
39,39,Cabo San Lucas,MX,2021-06-11 10:59:48,22.8909,-109.9124,83.41,62,15,6.96
41,41,Bhadrachalam,IN,2021-06-11 11:03:59,17.6667,80.8833,77.18,86,100,8.03

In [25]:
preferred_cities_df.count()

City_ID       192
City          192
Country       189
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [27]:
preferred_cities_df = preferred_cities_df.dropna()

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5       Nikolskoye      RU     76.89  59.7035   30.7861
13            Gizo      SB     82.15  -8.1030  156.8419
16      Georgetown      MY     86.90   5.4112  100.3354
28         Viersen      DE     80.26  51.2500    6.3833
31           Gidam      IN     78.66  18.9833   81.4000
36            Beni      CD     87.80   0.5000   29.4667
37         Sibolga      ID     81.18   1.7427   98.7792
38        Bengkulu      ID     80.76  -3.8004  102.2655
39  Cabo San Lucas      MX     83.41  22.8909 -109.9124
41    Bhadrachalam      IN     77.18  17.6667   80.8833

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Nikolskoye,RU,76.89,59.7035,30.7861,Tourist House - Sablino
13,Gizo,SB,82.15,-8.1030,156.8419,Imagination Island
16,Georgetown,MY,86.90,5.4112,100.3354,Cititel Penang
28,Viersen,DE,80.26,51.2500,6.3833,Hotel Rahserhof
31,Gidam,IN,78.66,18.9833,81.4000,Dhanshree Lodge And DormItory
36,Beni,CD,87.80,0.5000,29.4667,Albertine hotel
37,Sibolga,ID,81.18,1.7427,98.7792,Hotel Syariah CN Darussalam
38,Bengkulu,ID,80.76,-3.8004,102.2655,Grage Hotel Bengkulu
39,Cabo San Lucas,MX,83.41,22.8909,-109.9124,Hotel Tesoro Los Cabos
41,Bhadrachalam,IN,77.18,17.6667,80.8833,Hotel Srinidhi Residency

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))